.catalog-preview__container {
  display: grid;
  gap: 20px;
}

.catalog-preview__icon-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $color-primary-500;
  position: relative;
}

.catalog-preview__item {
  padding: 21px 33px 18px 20px;
  display: grid;
  grid-template-columns: 80px 1fr;
  background-color: $color-gray-50;
}

.catalog-preview__icon {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.catalog-preview__heading {
  font-family: $font-heading;
  font-size: 24px;
  line-height: 37px;
  color: $color-black;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;

  position: relative;
}

.catalog-preview__text {
  grid-column: 1 / -1;
}

.catalog-preview__link {
  font-family: $font-heading;
  font-size: 20px;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-black;

  padding-right: 25px;
  background-size: 35px 10px;
  background-repeat: no-repeat;
  background-position: 58% 50%;
  background-image: url("../../images/icons/stack.svg#arrow");
  grid-column: 1 / 3;
}

.catalog-preview__icon--translate {
  transform: translateX(-10px);
}
