.catalog-preview {
  display: grid;
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 82px;
  }
}

.catalog-preview__container {
  display: grid;
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.catalog-preview__item {
  position: relative;
  padding: 24px 34px 19px 20px;
  background-color: $color-gray-50;

  @media (min-width: $tablet-width) {
    padding: 71px 314px 56px 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 45px 52px 59px;
  }
}

.catalog-preview__heading {
  font-family: $font-heading;
  font-size: 24px;
  line-height: 36px;
  color: $color-black;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  margin: 0;
  display: flex;
  align-items: center;
  min-height: 47px;
  margin-bottom: 25px;
  padding-left: 70px;

  @media (min-width: $tablet-width) {
    margin-bottom: 18px;
    padding-left: 0;
    position: static;
    font-size: 36px;
  }

  @media (min-width: $desktop-width) {
    min-height: 100px;
    margin-bottom: 39px;
    padding-left: 162px;
    position: relative;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background-color: $color-primary-500;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      top: calc(50% - 95px);
      right: 62px;
      left: auto;
      width: 200px;
      height: 200px;
    }

    @media (min-width: $desktop-width) {
      top: calc(50% - 50px);
      right: auto;
      left: 0;
      width: 100px;
      height: 100px;
    }
  }

  &::after {
    background-size: contain;
  }
}

.catalog-preview__heading--slim {
  &::after {
    top: -3px;
    left: 7px;
    width: 36px;
    height: 50px;
    background-image: url("../../images/icons/stack.svg#cat-slim");

    @media (min-width: $tablet-width) {
      top: calc(50% - 106px);
      right: 92px;
      left: auto;
      width: 140px;
      height: 194px;
    }

    @media (min-width: $desktop-width) {
      top: calc(50% - 54px);
      left: 15px;
      width: 70px;
      height: 97px;
    }
  }
}

.catalog-preview__heading--pro {
  &::after {
    top: 11px;
    left: -10px;
    width: 67px;
    height: 28px;
    background-image: url("../../images/icons/stack.svg#cat-pro");

    @media (min-width: $tablet-width) {
      top: calc(50% - 51px);
      right: 28px;
      left: auto;
      width: 268px;
      height: 112px;
    }

    @media (min-width: $desktop-width) {
      top: calc(50% - 30px);
      left: -19px;
      width: 134px;
      height: 56px;
    }
  }
}

.catalog-preview__text {
  margin: 0;
  margin-bottom: 19px;
  padding-bottom: 22px;
  color: $color-gray-700;
  border-bottom: 1px solid $color-gray-200;

  @media (min-width: $tablet-width) {
    color: $color-black;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
    padding: 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 28px;
  }
}

.catalog-preview__link {
  padding: 5px 0;
  padding-right: 38px;

  font-family: $font-heading;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-black;
  position: relative;
  width: max-content;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
    padding-right: 46px;
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    transform: translateY(-50%);
    transition: ease 0.3s;
  }

  &::after {
    width: 15px;
    height: 12px;
    background-image: url("../../images/icons/stack.svg#arrow");
    background-repeat: no-repeat;
    top: 50%;
    right: -7px;
  }

  &::before {
    width: 18px;
    height: 2px;
    background-color: $color-black;
    top: 50%;
    right: 3px;
  }

  &:hover {
    opacity: 0.6;

    &::before {
      width: 26px;
      right: -8px;
    }

    &::after {
      right: -16px;
    }
  }

  &:active {
    opacity: 0.3;
  }
}
