.contacts {
  @media (min-width: $desktop-width) {
    position: relative;
    z-index: 0;

    min-height: 400px;
    padding: 40px 0 52px;
    display: grid;
    grid-template-columns: 1220px;
    align-items: center;
    justify-content: center;
  }
}

.contacts__container {
  margin-right: auto;
  margin-left: auto;
  padding: 45px 20px 26px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) {
    padding: 58px 70px 60px;
    grid-template-columns: 172px 172px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    z-index: 1;
    padding: 62px 74px 61px 80px;
    grid-template-columns: 208px 158px;
    width: 565px;
    margin: 0;

    background-color: $color-white;
  }
}

.contacts__heading {
  margin: 0;
  padding-right: 10px;
  font-family: $font-heading;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-gray-900;

  @media (min-width: $tablet-width) {
    margin-top: 4px;
    padding-right: 0;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.contacts__address {
  font-style: normal;
  color: $color-gray-700;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.contacts__map {
  display: block;
  width: 100%;
  height: 362px;
  border: none;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
