.footer__conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.developer {
  color: $color-gray-700;
  font-size: 16px;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
    color: $color-gray-700;

    .developer__image {
      color: $color-primary-500;
    }
  }

  &:active {
    opacity: 0.3;
    color: $color-gray-700;

    .developer__image {
      color: $color-primary-500;
    }
  }
}
