.field {
  position: relative;

  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  gap: 14px;

  color: $color-gray-700;

  font-family: $font-heading;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    gap: 14px;

    font-size: 20px;
  }
}

.field__input {
  min-width: 100px;
  padding: 12px 14px;

  color: $color-gray-700;
  border: 1px solid $color-gray-150;

  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  &:hover {
    border-color: $color-gray-250;
  }

  &:focus {
    outline: 2px solid $color-gray-700;
    outline-offset: -2px;
  }

  &:not(:placeholder-shown):invalid {
    outline: 2px solid $color-error-500;
    outline-offset: -2px;
  }

  &::placeholder {
    opacity: 1;
  }

  .field--no-label & {
    grid-column: 1 / -1;
  }

  .field--icon & {
    padding-right: 42px;
  }

  @media (min-width: $tablet-width) {
    padding: 10px 18px;

    font-size: 20px;
    line-height: 30px;

    .field--icon & {
      padding-right: 50px;
    }
  }
}

.field__input--textarea {
  padding-bottom: 45px;
  resize: none;

  @media (min-width: $tablet-width) {
    padding-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 21px;
  }
}

.field__icon {
  position: absolute;
  right: 14px;
  top: calc(50% - 7px);

  @media (min-width: $tablet-width) {
    right: 14px;
  }

  .field__input:focus+& {
    color: $color-primary-500;
  }

  .field__input:not(:placeholder-shown):invalid+& {
    color: $color-error-500;
  }
}
