.footer {
  padding: 31px 0 50px;
  background-color: $color-gray-50;
  align-self: flex-end;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 55px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 68px 0;
  }
}

.footer__container {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 164px 1fr 164px;
    gap: 16px;
  }
}

.footer__logo {
  @media (max-width: $mobile-width) {
    margin-bottom: 12px;
  }
}

.footer__social {
  margin: 0;

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;
    border-top: 1px solid $color-gray-200;
    border-bottom: 1px solid $color-gray-200;
  }

  @media (min-width: $tablet-width) {
    margin-top: -4px;
    margin-right: 8px;
  }
}
