.form {
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding-top: 28px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 15px;
  }
}

.form__container {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    padding-right: 0;
    padding-left: 0;
  }
}

.form__group {
  margin: 0;

  & + & {
    margin-top: 25px;

    @media (min-width: $tablet-width) {
      margin-top: 68px;
    }

    @media (min-width: $desktop-width) {
      &.form__group--target {
        margin-top: 0;
      }
    }
  }
}

.form__group + .form__group--additional {
  margin-top: 22px;

  @media (min-width: $tablet-width) {
    margin-top: 65px;
  }
}

.form__group--contacts,
.form__group--comment,
.form__group--additional {
  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
  }
}

.form__group--target {
  margin-right: -21px;
  margin-left: -21px;
  border: 1px solid $color-gray-200;

  @media (min-width: $tablet-width) {
    margin-right: 0;
    margin-left: 0;
  }
}

.form__footer {
  margin-top: 34px;
  padding-bottom: 12px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: 51px;
    padding-bottom: 59px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-top: 59px;
    padding-bottom: 79px;
    gap: 80px;
    grid-column: 1 / -1;
  }
}

.form__button {
  width: 100%;

  @media (max-width: $mobile-width) {
    margin-bottom: 21px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    padding: 14px 0;
  }
}

.form__additional {
  margin: 0;
  color: $color-black;
  line-height: 16px;
}
