.header {
  position: relative;


  @media (min-width: $tablet-width) {
    display: flex;
    padding-top: 25px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1210px;
    padding-top: 70px;
  }
}

.header__logo-sign {
  text-decoration: none;
  align-self: center;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__wrraper {

  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    min-width: 720px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1210px;
  }
}

.header__toggler {
  width: 35px;
  height: 35px;
  background: transparent;
  border: none;
  padding: 0;
  position: relative;

  span {
    width: 24px;
    height: 2px;
    background-color: $color-black;
    transition: 0.3s ease;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    &:nth-child(1) {
      top: 7px;
    }

    &:nth-child(2) {
      top: 17px;
    }

    &:nth-child(3) {
      top: 27px;
    }
  }

  &.is-active {
    span {
      &:nth-child(1) {
        transform: translate(-50%, 10px) rotate(-46deg);
      }

      &:nth-child(2) {
        display: none;
      }

      &:nth-child(3) {
        transform: translate(-50%, -10px) rotate(46deg);
      }
    }
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
