.hero {
  padding-top: 27px;

  text-align: center;
  color: $color-white;

  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: auto 320px;
  background-image: linear-gradient($color-primary-500--opacity 302px, $color-white 302px), url("../../images/background/index-background-mobile@1x.jpg");


  @media (min-resolution: 2dppx) {
    background-repeat: no-repeat;
    background-size: auto 302px;
    background-image: linear-gradient($color-primary-500--opacity 0, $color-primary-500--opacity 302px, $color-white 302px), url("../../images/background/index-background-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    color: $color-black;
    background-color: transparent;
    background-image: none;
    text-align: left;
    padding-top: 33px;
  }

  @media (min-width: $desktop-width) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: -200px;
      right: 0;
      bottom: 0;
      left: 50%;
      z-index: -2;

      background-color: $color-primary-800;
      background-position: 0 100%;
      background-repeat: no-repeat;
      background-image: linear-gradient($color-primary-500--opacity, $color-primary-500--opacity), url("../../images/background/index-background-desktop@1x.jpg");

      // @media (min-resolution: 2dppx) {
      //   background-size: auto 700px;
      //   background-image: linear-gradient($color-primary-500--opacity, $color-primary-500--opacity), url("../../images/background/index-background-desktop@2x.jpg");
      // }
    }
  }
}

.hero__text {
  margin: 0;
  margin-bottom: 29px;

  font-family: $font-heading;
  line-height: 1;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;

    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 51px;
  }
}

.hero__image {
  width: 280px;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;

    width: 708px;
    height: 609px;
  }

  @media (min-width: $mobile-width) {
    top: 306px;
    left: calc(50% - 382px);

    width: 552px;
    height: 499px;
  }
}

.hero__button {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: auto;
    justify-self: start;
  }
}
