.page {
  height: 100%;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin: 0;

  min-height: 100%;
  min-width: 320px;

  font-family: $font-body;
  font-size: 14px;
  line-height: 18px;
  color: $color-gray-700;
  background-color: $color-white;
  font-weight: 400;
}

.page__main {
  // margin-top: -1px;
  // z-index: -1;
}
