.page-main__subheading {
  text-transform: uppercase;
  font-family: $font-heading;
  color: $color-black;
}

.page-main__hero {
  background: linear-gradient(0deg, $color-white 7%, $color-primary-500 7%);
}
