.page-header {
  min-width: 320px;

  @media (min-width: $tablet-width) {
    width: 708px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  @media (min-width: $desktop-width) {
    gap: 350px;
    justify-content: space-around;
  }
}

.page-header__container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__logo-sign {
  text-decoration: none;
  padding: 23px 20px 24px;
  align-self: center;


  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__menu {
  font-family: $font-heading;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: $color-black;
  text-transform: uppercase;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;


  @media (min-width: $tablet-width) {
    display: flex;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: normal;
    color: $color-white;
  }
}

.page-header__item {
  border-top: 1px solid $color-gray-100;
  background-color: $color-white;

  @media (min-width: $tablet-width) {
    background-color: inherit;
    border: 0;
  }
}

.page-header__link {
  display: block;
  text-decoration: none;
  color: $color-black;
  padding: 22px 10px 24px;

  &:link:hover {
    opacity: 0.6;
  }

  &:link:active {
    opacity: 0.3;
  }

  @media (min-width: $desktop-width) {
    color: $color-white;
  }
}

.page-header__togler--opened {
  display: none;

  width: 40px;
  height: 40px;

  mask-position: 50% 50%;
  mask-repeat: no-repeat;
  mask-size: 24px 16px;
  mask-image: url("../../images/icons/stack.svg#burger");
  background-color: $color-black;
  border: 0;

  @media (max-width: $mobile-width) {
    display: block;
  }
}

.page-header__togler--closed {
  display: none;

  align-self: center;
  width: 40px;
  height: 40px;
  mask-position: 50% 50%;
  transform: translateY(-4px);
  mask-size: 18px 18px;
  mask-repeat: no-repeat;
  mask-image: url("../../images/icons/stack.svg#close");
  background-color: $color-black;
  border: 0;

  @media (max-width: $mobile-width) {
    display: block;
  }
}

.page-header__nav-closed {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.page-header__nav {
  display: grid;
  grid-template-columns: 1fr;
}
