.page-main__subheading {
  text-transform: uppercase;
  font-family: $font-heading;
  color: $color-black;
}

.page-header__logo-sign {

  text-decoration: none;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
