.page-header {
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    width: 710px;
  }
}

.page-header__container-header {
  display: flex;
  min-width: 280px;
  justify-content: space-between;
}

.page-header__logo-sign {

  text-decoration: none;
  padding: 23px 20px 24px;
  align-self: center;


  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__menu {
  font-family: $font-heading;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  gap: 10px;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.page-header__item {
  border-top: 1px solid $color-gray-100;
}

.page-header__link {

  display: block;
  text-decoration: none;
  color: $color-black;
  padding: 22px 10px 24px;
}

.page-header__togler--opened {
  display: none;

  width: 40px;
  height: 40px;

  mask-position: 50% 50%;
  mask-repeat: no-repeat;
  mask-size: 24px 16px;
  mask-image: url("../../images/icons/stack.svg#burger");
  background-color: $color-black;
  border: 0;

  @media (max-width: $mobile-width) {
    display: block;
  }
}

.page-header__togler--closed {
  display: none;

  align-self: center;
  width: 40px;
  height: 40px;
  mask-position: 50% 50%;
  transform: translateY(-4px);
  mask-size: 18px 18px;
  mask-repeat: no-repeat;
  mask-image: url("../../images/icons/stack.svg#close");
  background-color: $color-black;
  border: 0;

  @media (max-width: $mobile-width) {
    display: block;
  }
}

.page-header__nav-closed {
  display: none;
}
