.proposal__text{
  color: $color-white;
  line-height: 20px;
  text-align: center;
  background-repeat: no-repeat;
  
  background-image: url(../../images/background/washing-machine-mobile-desktop@1x.jpg);
}
