.proposal {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-color: $color-primary-500;
  background-repeat: no-repeat;
  background-image:
    linear-gradient($color-primary-500--opacity, $color-primary-500--opacity),
    image-set(
      url("../../images/background/washing-machine-mobile-desktop@1x.webp") 1x type("image/webp"),
      url("../../images/background/washing-machine-mobile-desktop@1x.jpg") 1x type("image/jpeg"),
      url("../../images/background/washing-machine-mobile-desktop@2x.webp") 2x type("image/webp"),
      url("../../images/background/washing-machine-mobile-desktop@2x.jpg") 2x type("image/jpeg") );

  @media (min-width: $tablet-width) {
    width: 707px;
    background-image:
      linear-gradient($color-primary-500--opacity, $color-primary-500--opacity),
      image-set(
        url("../../images/background/washing-machine-tablet@1x.webp") 1x type("image/webp"),
        url("../../images/background/washing-machine-tablet@1x.jpg") 1x type("image/jpeg"),
        url("../../images/background/washing-machine-tablet@2x.webp") 2x type("image/webp"),
        url("../../images/background/washing-machine-tablet@2x.jpg") 2x type("image/jpeg"));
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    background-image:
      linear-gradient($color-primary-500--opacity, $color-primary-500--opacity),
      image-set(
        url("../../images/background/washing-machine-mobile-desktop@1x.webp") 1x type("image/webp"),
        url("../../images/background/washing-machine-mobile-desktop@1x.jpg") 1x type("image/jpeg"),
        url("../../images/background/washing-machine-mobile-desktop@2x.webp") 2x type("image/webp"),
        url("../../images/background/washing-machine-mobile-desktop@2x.jpg") 2x type("image/jpeg") );
  }
}

.proposal__text {
  margin: 0;
  text-align: center;
  color: $color-white;
  font-size: 16px;
  line-height: 20px;
  padding: 186px 58px 43px;
  background-size: 78px 81px;
  background-repeat: no-repeat;
  background-position: 50% 27%;
  background-image: url("../../images/icons/stack.svg#gift");

  @media (min-width: $tablet-width) {
    text-align: left;
    padding: 71px 125px 69px 421px;
    background-position: 12% 49%;
    background-size: 86px 82px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    padding: 184px 38px 44px;
    background-size: 78px 80px;
    background-position: 51% 26%;
  }
}
