.underlined-headingr {
  position: relative;
  width: fit-content;
  margin: 0;
  margin-left: -20px;
  padding: 0 20px;
  font-family: $font-heading;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $color-black;
  text-align: center;
  background-color: $color-white;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 17px;
    right: 0;
    width: 100vw;
    height: 2px;
    background-color: $color-primary-500;
    box-shadow: 100vw 0 0 $color-primary-500;
  }


  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.underlined-heading--formr {
  &::before {
    top: 0;
  }
}
